Source: brightbox-cli
Section: ruby
Priority: extra
Maintainer: John Leach <john@brightbox.co.uk>
Build-Depends: cdbs, debhelper (>= 5.0.0), ruby-pkg-tools (>= 0.14), ruby1.8-dev, pkg-config, ruby1.8, graphviz, quilt, bash-completion
Standards-Version: 3.9.1

Package: bbcloud
Depends: brightbox-cli (= ${binary:Version}), ${misc:Depends}
Architecture: all
Section: oldlibs
Description: Transitional package for brightbox-cli
 This is a transitional package and can be safely removed after
 brightbox-cli is installed.

Package: brightbox-cli
Replaces: bbcloud (<< 0.13)
Breaks: bbcloud (<< 0.13)
Architecture: all
Depends: libbrightbox-cli-ruby (= ${binary:Version}), ${misc:Depends}
Description: CLI for the Brightbox cloud computing platform
 brightbox-cli provides tools for interacting with the Brightbox cloud
 platform
 .
 This package is a dependency package. 

Package: libbrightbox-cli-ruby
Replaces: libbbcloud-ruby (<< 0.13)
Breaks: libbbcloud-ruby (<< 0.13)
Architecture: all
Depends: libbrightbox-cli-ruby1.8(= ${binary:Version}), ${misc:Depends}
Description: CLI for the Brightbox cloud computing platform
 brightbox-cli provides tools for interacting with the Brightbox cloud
 platform
 .
 This package is a dependency package, which depends on the package
 containing the actual brightbox-cli package for the default Ruby version
 (currently 1.8).

Package: libbrightbox-cli-ruby1.8
Replaces: libbbcloud-ruby1.8 (<< 0.13)
Breaks: libbbcloud-ruby1.8 (<< 0.13)
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby1.8,
 libnet-ssh2-ruby, libnokogiri-ruby, libjson-ruby, libmime-types-ruby,
 libhmac-ruby, libbuilder-ruby, libopenssl-ruby1.8
Description: CLI for the Brightbox cloud computing platform
 brightbox-cli provides tools for interacting with the Brightbox cloud
 platform
 .
 This package contains the CLI for the Brightbox cloud computing platform for 
 Ruby 1.8.
